* { 
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI';
} 


ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5;
    overflow: hidden;
    background-color:white;
    display: flex;
    padding-inline-start: 40px;
    align-items: center;
}

.title{
  list-style-type: none;
  margin-left: auto;
  margin-right: 1.5rem;
}
    
.navbar {
    position: relative;
    padding: 0.5rem 1rem;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: black  ;
    font-weight: 600;
    text-align: center;
    font-family: 'Segoe UI';
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    opacity: 0.5;
  }


.box{
  color: black;
  font-size: 40px;
  padding: 10px 50px;
  text-align: center;
  font-weight: bold;
}

.container{
  padding:50px;
  width: 100%;
  text-align: center;
}
.dabba{
  width: 400px;
  height: 30px;
  margin-left: 5px;
  border-radius: 10px;
}

.submit{

}
@media(max-width: 992px){
ul{
    display:flex;
    flex-direction: column;
}
}